/* 
quotes.css
Author: Ryan Paranich
CSS styling for the new-quote.html page of this web app.
*/

/* Bar Container
This container holds our 3 bars of buttons. These bars represent the different levels of
window pane "complexity", which might effect the price of each pane being considered. */
.bar-container {
  background-color: #333;
  color: white;
  padding: 20px;
}

/* H3's
We're using our h3 tags as the headers for our button bars. These headings display the
"complexity" level of our window pane prices. */
h3 {
  text-align: center;
  margin-bottom: 6px;
}

/* Button Containers
Our button containers are what contain our rows of buttons. We want these to flex to support
responsive design, as this web app will primarily be used on mobile devices in the field. */
.button-container {
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

/* Buttons in Button Containers
Any button that is inside a button container represents a window pane selection button. These
are the buttons used to increase the count of any particular pane. They need to be large enough
to be easily visible, and preverably color coded (to come later). */
.button-container button {
  width: 80px;
  height: 50px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Navigation Bar
Our navigation bar here is more of a menu bar. In our quote builder page, we can choose to
cancel our current quote and go back to home, or finalize the quote and send it. */
nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  padding: 6px 30px;
  cursor: pointer;
}

#summaryBoard {
  display: flex;
  width: 350px;
  height: 50px;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.paneCount,
.grandTotal,
.reviewAndSendButton {
  font-weight: 600;
}

.paneCount,
.grandTotal {
  font-size: 1.5rem;
  font-weight: 800;
}

.reviewAndSendButton {
  height: 60px;
  width: 125px;
  margin-left: 20px;
}

table {
  margin-bottom: 50px;
}

.summaryContainer {
  padding: 10px;
}
